@import "bourbon/bourbon"

/*Сброс*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

button, button:active, button:focus,
input, input:active, input:focus
	outline: none

ol, ul
	list-style: none

.hidden
	display: none

b, strong
	font-family: "GilroyExtraBold", sans-serif

a, button
	transition: all ease-out 0.3s
	-webkit-transition: all ease-out 0.3s
	-o-transition: all ease-out 0.3s
	-moz-transition: all ease-out 0.3s
	outline: none !important

.owl-nav
	button
		width: 31px
		height: 31px
		display: block
		text-indent: -9999px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		z-index: 99
		background-image: url(../img/icons/slider-arrow.png) !important
		&:hover
			opacity: 0.6
.owl-prev
	left: -92px
	background-position: left center !important
.owl-next
	right: -92px
	background-position: right center !important

.owl-dots
	font-size: 0
	text-align: center
	padding-top: 25px

.owl-dot
	width: 10px
	height: 10px
	display: inline-block
	border-radius: 50%
	margin: 0 5px
	span
		width: 6px
		height: 6px
		display: block
		border-radius: 50%
		margin: 2px
		background-color: #ec2452

.slick-dots
	font-size: 0
	text-align: center
	padding-top: 25px
	li
		width: 10px
		height: 10px
		display: inline-block
		border-radius: 50%
		margin: 0 5px
		button
			width: 6px
			height: 6px
			display: block
			border-radius: 50%
			margin: 2px
			background-color: #ec2452
			border: none
			padding: 0
	.slick-active
		background-color: #ec2452 !important
		button

.owl-dot.active
	background-color: #ec2452 !important

@mixin placeholder($color)
	&::-webkit-input-placeholder
		color: $color
	&::-moz-placeholder
		color: $color
	&:-moz-placeholder
		color: $color
	&:-ms-input-placeholder
		color: $color

.fancybox-close-small svg
	fill: #fff
	opacity: 1

.fancybox-close-small
	color: #fff

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	-o-appearance: none
	-moz-appearance: none
	appearance: none