@import "bourbon/bourbon"
@import "sass/_blocks"

/*Компоненты*/

.h-nav
	font-size: 0
	&__item
		display: inline-block
		padding: 0 28px
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
	&__link
		display: block
		line-height: 47px
		color: #fff
		font-size: 17px
		&:hover
			color: #fff
			text-decoration: none
			opacity: 0.6

.h-logo
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: left
	align-items: center
	&__link
		display: block
		width: 100px
		height: auto
	&__img
		display: block
		width: 100%
	&__description
		padding-left: 32px
		display: block
		width: 326px
		color: #000
		font-size: 16px
		line-height: 22px

.h-application
	display: inline-block
	height: 63px
	line-height: 56px
	text-align: center
	padding: 0 55px
	border: 2px solid #e03359
	background-color: #e03359
	color: #fff
	font-size: 17px
	font-family: "GilroyExtraBold", sans-serif
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	&:hover
		text-decoration: none
		color: #fff
		background-color: #fff
		color: #e03359

.h-callback
	display: inline-block
	&__phone
		display: block
		font-size: 26px
		color: #000
		padding-left: 34px
		position: relative
		padding-bottom: 5px
		&::before
			content: ''
			width: 19px
			height: 21px
			background-image: url(../img/icons/h-phone.png)
			background-repeat: no-repeat
			background-size: cover
			display: block
			position: absolute
			left: 0
			top: 50%
			margin-top: -10.5px
	&__button
		display: inline-block
		color: #e03359
		border-bottom: 1px solid #e03359
		font-size: 18px
		line-height: 100%
		&:hover
			text-decoration: none
			color: #e03359
			border: none

.h-catalog
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	&__item
		display: block
		text-align: center
		position: relative
		&::after
			content: ''
			display: block
			height: 28px
			width: 1px
			background-color: #e44c6d
			position: absolute
			left: -0.5px
			top: 50%
			margin-top: -14px
		&:first-child
			&::after
				display: none !important
	&__link
		padding: 0 10.78px
		line-height: 58px
		display: block
	&__wp
		display: inline-block
		padding-right: 26px
		position: relative
		font-size: 17px
		color: #fff
		&::after
			content: ''
			position: absolute
			right: 0
			top: 50%
			width: 10px
			height: 6px
			margin-top: -3px
			background-image: url(../img/icons/h-arrow.png)
			background-size: cover
			display: block
	.active
		.h-catalog__link
			background-color: #000
			position: relative
			&::before
				content: ''
				display: block
				width: 1px
				top: 0
				bottom: 0
				position: absolute
				background-color: #000
				left: 0
				z-index: 20
			&::after
				content: ''
				display: block
				width: 1px
				top: 0
				bottom: 0
				position: absolute
				background-color: #000
				right: 0
				z-index: 20
		&::before
			content: ''
			width: 0
			height: 0
			border-style: solid
			border-width: 6px 6px 0 6px
			border-color: #000000 transparent transparent transparent
			position: absolute
			bottom: -6px
			left: 50%
			margin-left: -6px
			z-index: 12
	&__submenu
		position: absolute
		left: 0
		top: 100%
		background-color: #ea4b6e
		width: 245px
		display: none
		z-index: 10
	&__subitem
		border-bottom: 1px solid #ec5f7e
		&:last-child
			border: none
	&__sublink
		color: #fff
		font-size: 16px
		line-height: 31px
		padding: 10px 10.78px
		display: block
		width: 100%
		text-align: left
		&:hover
			text-decoration: none
			color: #fff
			background-color: #d34766

.p-baner
	position: relative
	&__slider
	&__item
		height: 254px
		width: 100%
		background-size: cover
		background-position: center bottom
	&__popup
		padding: 36px 24px
		width: 50%
		position: absolute
		z-index: 8
		margin-bottom: 27px
		background-image: url(../img/baner-popup.jpg)
		background-repeat: repeat-y
		background-size: 100% auto
		position: absolute
		left: 33px
		top: 31px
		&::before
			content: ''
			height: 3px
			position: absolute
			bottom: 0
			left: 0
			right: 0
			background-color: #e03359
			display: block
		&::after
			content: ''
			display: block
			width: 0
			height: 0
			border-style: solid
			border-width: 27px 20px 0 0
			border-color: #000000 transparent transparent transparent
			display: block
			position: absolute
			left: 0
			bottom: -27px
	&__title
		color: #1d1d1b
		font-size: 24px
		text-transform: uppercase
	&__description
		font-size: 16px
		color: #000
		display: block
		padding-top: 20px
		padding-bottom: 12px
	&__button
		height: 56px
		line-height: 49px
		display: inline-block
		border: 2px solid #e03359
		font-size: 17px
		background-color: #e03359
		color: #fff
		text-align: center
		font-family: "GilroyExtraBold", sans-serif
		-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		padding: 0 40px
		&:hover
			background-color: #fff
			color: #e03359
			text-decoration: none

.p-title
	color: #000
	display: inline-block
	font-size: 26px
	padding-bottom: 20px

.p-advantages
	background-color: #fff
	padding: 26px 16px
	position: relative
	&-left
		text-align: right
		margin-right: 18px
		.p-advantages__title
			padding-right: 48px
		.p-advantages__icon
			background-position: right center
			right: 0
		&-top
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 0 0 12px
				border-color: transparent transparent transparent #000000
				position: absolute
				bottom: 0
				right: -12px
		&-center
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 0 9px 12px
				border-color: transparent transparent transparent #000000
				position: absolute
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				right: -12px
		&-bottom
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 12px 0 0
				border-color: #000000 transparent transparent transparent
				position: absolute
				top: 0
				right: -12px

	&-right
		text-align: left
		margin-left: 18px
		.p-advantages__title
			padding-left: 48px
		.p-advantages__icon
			background-position: left center
			left: 0
		&-top
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 0 0 9px 12px
				border-color: transparent transparent #000000 transparent
				position: absolute
				bottom: 0
				left: -12px
		&-center
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 12px 9px 0
				border-color: transparent #000000 transparent transparent
				position: absolute
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				left: -12px
		&-bottom
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 0 12px 9px 0
				border-color: transparent #000000 transparent transparent
				position: absolute
				top: 0
				left: -12px

	&__title
		position: relative
		text-transform: uppercase
		font-size: 16px
	&__icon
		display: block
		position: absolute
		width: 48px
		height: 40px
		top: 50%
		margin-top: -20px
		background-repeat: no-repeat
	&__description
		font-size: 15px
		line-height: 22px
		color: #000
		height: 22*3 + px
		overflow: hidden
		display: block
		margin-top: 15px

.p-advantagesimg
	width: 100%
	display: block
	height: auto
	&__wp
		margin-left: -80px
		margin-right: -80px
		width: auto
		height: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin-top: 18px

.p-paperview
	height: 200px
	display: block
	width: 100%
	display: block
	background-size: cover
	background-position: center center
	position: relative
	&::after
		content: ''
		display: block
		left: 0
		right: 0
		top: 0
		position: absolute
		bottom: 0
		background-image: url(../img/p-pattern.png)
		background-repeat: repeat-x
		background-position: center bottom
		z-index: 1
	&__title
		position: absolute
		bottom: 18px
		left: 0
		right: 0
		z-index: 2
		font-size: 17px
		color: #fff
		font-family: "GilroyExtraBold", sans-serif
		text-align: center
		padding: 12px 10px 0
		&::before
			content: ''
			display: block
			height: 4px
			width: 29px
			background-color: #e03359
			top: 0
			left: 0
			right: 0
			position: absolute
			margin: 0 auto

.p-assortpackage
	&__title
		color: #fff
		font-size: 26px
		position: relative
		display: block
		text-align: center
		padding-top: 28px
		padding-bottom: 24px
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			margin: 0 auto
			left: 0
			right: 0
			top: 0
			position: absolute
	&__description
		font-size: 16px
		line-height: 24px
		color: #fff
		display: block

.p-prod
	border: 1px solid #e6e6e6
	display: block
	&:hover
		text-decoration: none
		color: inherit
	&__img
		height: 247px
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		background-size: cover
		background-position: center center
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		position: relative
	&__info
		margin-top: 19px
		position: relative
		padding-top: 18px
		padding-left: 17px
		padding-right: 17px
		padding-bottom: 22px
		&::before
			content: ''
			display: block
			left: 0
			right: 0
			position: absolute
			width: 38px
			height: 1px
			background-color: #e03359
			margin: 0 auto
			top: 0
		&::after
			content: ''
			display: block
			left: 0
			right: 0
			position: absolute
			width: 38px
			height: 1px
			background-color: #e03359
			margin: 0 auto
			top: 5px
	&__title
		display: block
		text-align: center
		font-size: 20px
		color: #000
		font-family: "GilroyExtraBold", sans-serif
		&:hover
			color: #000
			text-decoration: none
	&__description
		display: block
		margin-top: 12px
		font-size: 15px
		color: #5f5f5f
		line-height: 24px
		height: 24 * 3 + px
		overflow: hidden
	&__more
		height: 41px
		border-radius: 20px
		width: 60%
		display: block
		text-align: center
		border: 2px solid #e03359
		background-color: #e03359
		line-height: 34px
		color: #fff
		font-size: 14px
		margin: 0 auto 15px
		span
			display: inline-block
			padding-right: 18px
			position: relative
			&::after
				content: ''
				display: block
				width: 5px
				height: 9px
				right: 0
				top: 50%
				margin-top: -4.5px
				background-image: url(../img/icons/white-arrow.png)
				background-size: cover
				background-repeat: no-repeat
				background-position: center center
				position: absolute
		&:hover
			color: #fff
			text-decoration: none
			background-color: transparent
	&__callback
		height: 41px
		border-radius: 20px
		width: 60%
		margin: 0 auto
		display: block
		text-align: center
		border: 2px solid #ffffff
		background-color: #ffffff
		line-height: 34px
		color: #e03359
		font-size: 14px
		&:hover
			background-color: transparent
			color: #e03359
			text-decoration: none
	&__wp
		display: none
		width: 100%
		text-align: center
		position: relative
		z-index: 1
	&:hover
		.p-prod__img
			&::after
				content: ''
				left: 0
				position: absolute
				right: 0
				top: 0
				bottom: 0
				background-color: rgba(#000,.61)
		.p-prod__wp
			display: block
	&__right
		width: 50%
		float: left
	&__list
	&__subitem
		color: #000
		font-size: 15px
		line-height: 18px
		position: relative
		padding-right: 50%
		span
			display: block
			position: absolute
			left: 50%
			right: 0
			top: 0

.p-prodmore
	display: inline-block
	height: 56px
	line-height: 49px
	text-align: center
	padding: 0 75px
	border: 2px solid #e03359
	background-color: #e03359
	color: #fff
	font-size: 17px
	font-family: "GilroyExtraBold", sans-serif
	-webkit-box-shadow: 3px 3px 0px 0px black
	-moz-box-shadow: 3px 3px 0px 0px black
	box-shadow: 3px 3px 0px 0px black
	&:hover
		background-color: #fff
		color: #e03359
		text-decoration: none
	&__promo
		font-size: 106px
		letter-spacing: 0.6px
		color: rgba(#0d0d0d,.06)
		text-transform: uppercase
		display: block
		width: 100%
		font-family: "GilroyExtraBold", sans-serif
		text-align: center
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: -1
		line-height: 100%
	&__right
		width: 50%
		float: left
	&__list
	&__subitem
		span

.p-reviews
	&__slider
		margin-top: 45px
	&__item
		display: inline-block
		-webkit-box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		-moz-box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		outline: none
	&__img
		display: block
	&__description
		display: block
		padding-top: 24px
		p
			color: #000
			font-size: 17px
			line-height: 24px

.f-girl
	display: inline-block

.f-callback
	&__title
		font-size: 30px
		color: #fff
		display: block
		text-align: center
		width: 100%
		padding-top: 20px
		position: relative
		padding-bottom: 10px
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			position: absolute
			top: 0
			left: 0
			right: 0
			margin: 0 auto
	&__description
		display: block
		width: 100%
		text-align: center
		color: #fff
		font-size: 20px
		padding-bottom: 28px
		span
			color: #e03359

	&__form
	&__row
		@include clearfix
	&__left
		width: 50%
		padding-right: 10px
		float: left
	&__right
		width: 50%
		padding-left: 10px
		float: right
	&__input
		display: block
		width: 100%
		height: 100%
		line-height: 54px
		border: none
		height: 54px
		padding-left: 48px
		padding-right: 15px
		background-color: #fff
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		font-size: 17px
		color: #000
		@include placeholder(#828282)
		&-wp
			margin-bottom: 20px
			position: relative
	&__icon
		position: absolute
		width: 48px
		left: 0
		top: 0
		bottom: 0
		background-repeat: no-repeat
		background-position: center 19px
	&__textarea
		display: block
		width: 100%
		padding-left: 48px
		padding-right: 15px
		background-color: #fff
		height: 135px
		padding-top: 18px
		padding-bottom: 18px
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		font-size: 17px
		color: #000
		resize: none
		@include placeholder(#828282)
	&__pol
		color: #fff
		font-size: 15px
		line-height: 24px
		width: 65%
		float: left
		padding-right: 30px
		padding-top: 6px
		a
			color: #e03359
			text-decoration: underline
			&:hover
				text-decoration: none
				color: #e03359
	&__button
		height: 56px
		line-height: 49px
		text-align: center
		padding: 0
		width: 100%
		border: 2px solid #e03359
		background-color: #e03359
		color: #fff
		font-size: 17px
		font-family: "GilroyExtraBold", sans-serif
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		&:hover
			text-decoration: none
			color: #e03359
			background-color: #fff
		&-wp
			float: right
			width: 35%

.p-popup
	display: none
	padding: 30px
	background-image: url(../img/popup-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	.f-callback__button-wp
		width: 100%
		float: none
	&__title
		font-size: 30px
		color: #fff
		display: block
		text-align: center
		width: 100%
		padding-top: 20px
		position: relative
		padding-bottom: 10px
		text-transform: uppercase
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			position: absolute
			top: 0
			left: 0
			right: 0
			margin: 0 auto
	&__row
		padding-top: 16px

.mobbtn
	display: block
	background-image: url(../img/icons/mob-menu.png)
	background-position: left center
	background-repeat: no-repeat
	width: 24px
	height: 18px
	margin: 9px 0
	-webkit-transition-property: none
	-moz-transition-property: none
	-o-transition-property: none
	transition-property: none
	outline: none !important
.mobbtn.active
	background-position: right center

.p-path
	font-size: 0
	&__link
		font-size: 14px
		color: #000
		display: block
		&:hover
			text-decoration: underline
			color: #000
	&__item
		display: inline-block
		padding-right: 16px
		position: relative
		font-size: 14px
		&::after
			content: '/'
			color: #e03359
			font-size: 14px
			position: absolute
			right: 0
			width: 16px
			top: 0
			text-align: center
		&:first-child
			.p-path__link
				padding-left: 24px
				position: relative
				&::before
					content: ''
					width: 13px
					height: 11px
					display: block
					background-image: url(../img/icons/home.png)
					background-size: cover
					background-repeat: no-repeat
					background-position: center center
					position: absolute
					left: 0
					top: 2px
		&-last
			padding-right: 0
			color: #a8a8a8
			&::after
				display: none

.p-name
	font-size: 26px
	font-family: "GilroyExtraBold"
	padding-left: 26px
	position: relative
	display: inline-block
	&::before
		content: ''
		display: block
		width: 5px
		height: 40px
		background-color: #e03359
		position: absolute
		left: 0
		top: 50%
		margin-top: -20px

.p-left
	&__title
		line-height: 64px
		background-color: #000
		color: #fff
		padding-left: 27px
		padding-right: 15px
		font-size: 18px
		text-transform: uppercase
		font-family: "GilroyExtraBold"
	&__list
		border: 1px solid #e6e6e6
		display: block
		width: 100%
	&__item
		display: block
		border-bottom: 1px solid #e6e6e6
	&__link
		width: 100%
		height: 60px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		padding-left: 24px
		padding-right: 60px
		position: relative
		color: #000
		font-size: 16px
		font-family: "GilroyExtraBold"
		&:hover
			text-decoration: none
			color: #000
	&__icon
		width: 20px
		height: 20px
		display: block
		background-image: url(../img/icons/catalog-arrow.png)
		background-size: auto 100%
		background-repeat: no-repeat
		background-position: left center
		position: absolute
		right: 20px
		top: 50%
		margin-top: -10px
	&__item.active
		background-color: #fafafa
		.p-left__icon
			background-position: right center
		.p-left__link
			color: #e03359
	&__list-1
		padding-left: 19px
		padding-right: 19px
		border-top: 1px solid #e6e6e6
		display: none
	&__item-1
		border-bottom: 1px solid #e6e6e6
		&:last-child
			border-bottom: none
	&__link-1
		height: 46px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		font-size: 16px
		color: #000
		padding-right: 23px
		position: relative
		padding-left: 6px
		&:hover
			text-decoration: none
			color: #000

	&__icon-1
		display: block
		width: 7px
		height: 4px
		background-image: url(../img/icons/catalog-arrow-1.png)
		background-position: left center
		background-repeat: no-repeat
		background-size: auto 100%
		position: absolute
		right: 8px
		top: 50%
		margin-top: -2px
	&__item-1.active
		.p-left__icon-1
			background-position: right center
		.p-left__link-1
			color: #e03359
	&__menu-2
		padding-top: 18px
		border: none
		&:last-child
			padding-bottom: 18px
	&__last
		display: none
		border-top: 1px solid #e6e6e6
	&__subtitle
		font-size: 15px
		display: block
		font-family: "GilroyExtraBold", sans-serif
		margin-left: -7px
		width: auto
		padding-left: 28px
		position: relative
		margin-bottom: 8px
		&::before
			content: ''
			width: 16px
			height: 3px
			display: block
			background-color: #e03359
			position: absolute
			left: 0
			top: 50%
			margin-top: -1.5px
	&__list-2
		margin-left: 32px
		width: auto
	&__item-2
		padding-bottom: 8px
	&__link-2
		font-size: 15px
		color: #000
		position: relative
		padding-left: 15px
		display: block
		&::before
			content: ''
			display: block
			width: 4px
			height: 7px
			background-image: url(../img/icons/list-arrow.png)
			background-repeat: no-repeat
			background-size: cover
			position: absolute
			left: 0
			top: 5px
		&:hover
			color: #000
			text-decoration: underline

.p-line
	@include clearfix
	display: block
	&__left
		@include clearfix
		padding-left: 20px
		float: left
		width: 50%
		text-align: left
	&__text
		line-height: 64px
		display: block
		float: left
		font-size: 14px
		color: #fff
		padding-right: 18px
	&__search
		position: relative
		display: block
		float: left
		margin-top: 12px
	&__input
		height: 40px
		background-color: #fff
		border: none
		padding-left: 10px
		font-size: 14px
		color: #000
		padding-right: 46px
		@include placeholder(#c0c0c0)
		width: 265px
		display: block
	&__button
		width: 46px
		display: block
		border: none
		position: absolute
		top: 0
		bottom: 0
		right: 0
		background-color: #e03359
		text-indent: -9999px
		background-image: url(../img/icons/white-search.png)
		background-repeat: no-repeat
		background-position: center center
		cursor: pointer
		z-index: 2
	&__pagin
		padding-top: 19px
		width: 34%
		float: left
		text-align: center
	&__list
		font-size: 0
		@include clearfix
	&__link
		color: #fff
		font-size: 14px
		line-height: 16px
		padding: 0 4px
		&:hover
			color: #e03359
			text-decoration: none
	&__item
		display: block
		float: left
		&-first
			width: 31px
			position: relative
			height: 16px
			margin-right: 12px
			&::after
				content: ''
				display: block
				width: 1px
				height: 16px
				background-color: #2b2b2b
				position: absolute
				right: 0
				top: 50%
				margin-top: -8px
			.p-line__link
				width: 12px
				height: 10px
				background-image: url(../img/icons/p-pagin.png)
				background-repeat: no-repeat
				background-position: left top
				position: absolute
				left: 0
				top: 50%
				margin-top: -5px
				padding: 0
				-webkit-transition-property: none
				-moz-transition-property: none
				-o-transition-property: none
				transition-property: none
				outline: none !important
				&:hover
					background-position: right top
		&-last
			width: 31px
			position: relative
			height: 16px
			margin-left: 12px
			&::before
				content: ''
				display: block
				width: 1px
				position: absolute
				height: 16px
				background-color: #2b2b2b
				left: 0
				top: 50%
				margin-top: -8px
			.p-line__link
				width: 12px
				height: 10px
				background-image: url(../img/icons/p-pagin.png)
				background-repeat: no-repeat
				background-position: left bottom
				position: absolute
				right: 0
				top: 50%
				margin-top: -5px
				padding: 0
				-webkit-transition-property: none
				-moz-transition-property: none
				-o-transition-property: none
				transition-property: none
				outline: none !important
				&:hover
					background-position: right bottom
	&__vid
		@include clearfix
		width: 16%
		float: right
		text-align: right
		padding-right: 24px
	&__list-1
		float: left
		@include clearfix
		display: block
		padding-top: 23px
		width: 57px
	&__item-1
		display: block
		float: left
		padding-left: 21px
		position: relative
		&::before
			content: ''
			height: 16px
			width: 1px
			background-color: #2b2b2b
			top: 50%
			margin-top: -8px
			left: 10px
			position: absolute
			display: block
		&:first-child
			padding-left: 0
			&::before
				display: none !important
	&__link-1
		width: 18px
		height: 17px
		display: block
		background-image: url(../img/icons/p-vid.png)
		transition: none
		-webkit-transition: none
		-o-transition: none
		-moz-transition: none
		&:hover
			text-decoration: none
			color: inherit
	&__item-1.active
		.p-line__link-1
			background-position-x: right !important
	&__wrapper
		display: inline-block
		@include clearfix
		margin-bottom: -6px

.p-pagination
	@include clearfix
	&__item
		float: left
		padding: 0 6px
	&__link
		width: 34px
		height: 34px
		display: block
		border: 1px solid #000000
		line-height: 32px
		text-align: center
		font-size: 16px
		color: #000
		&:hover
			background-color: #000
			color: #fff
			text-decoration: none
	&__item
		&-first
			padding-right: 20px
			padding-left: 0
			.p-pagination__link
				border-color: #e03359
				position: relative
				&::before
					display: block
					content: ''
					background-image: url(../img/icons/paginbig.png)
					width: 12px
					height: 10px
					background-position: left center
					position: absolute
					left: 50%
					top: 50%
					margin-left: -6px
					margin-top: -5px
				&:hover
					background-color: transparent
					background-color: #e03359
		&-last
			padding-left: 20px
			padding-right: 0
			.p-pagination__link
				border-color: #e03359
				position: relative
				&::before
					display: block
					content: ''
					background-image: url(../img/icons/paginbig.png)
					width: 12px
					height: 10px
					background-position: right center
					position: absolute
					left: 50%
					top: 50%
					margin-left: -6px
					margin-top: -5px
				&:hover
					background-color: transparent
					background-color: #e03359
	&__item.active
		.p-pagination__link
			background-color: #000
			color: #fff

.p-catalogmore
	height: 56px
	line-height: 49px
	padding: 0 65px
	font-size: 14px
	border: 2px solid #e03359
	background-color: #e03359
	color: #fff
	font-family: "GilroyExtraBold", sans-serif
	-webkit-box-shadow: 3px 3px 0px 0px black
	-moz-box-shadow: 3px 3px 0px 0px black
	box-shadow: 3px 3px 0px 0px black
	display: inline-block
	&:hover
		background-color: transparent
		color: #e03359

.p-leftslider
	&__for
	&__item
	&__fb
		display: block
		width: 100%
		height: 375px
		min-height: 1px
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
	&__nav
		padding-top: 11px
		margin: 0 -9px
		.slick-track
			width: 100% !important
			justify-content: space-between
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
	&__subitem
		cursor: pointer
		position: relative
		width: 17% !important
		outline: none !important
	&__wp
	&__subimg
		width: 100%
		display: block
		min-height: 1px
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
	&__subitem.slick-current
		&::after
			content: ''
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: block
			width: 100%
			height: 100%
			position: absolute
			background-color: rgba(#000,.71)
			background-image: url(../img/icons/slider-loop.png)
			background-position: center center
			background-repeat: no-repeat

.p-harmonic
	margin-top: 36px
	&__item
		border-left: 1px solid #e6e6e6
		border-right: 1px solid #e6e6e6
		&:first-child
			border-top: 1px solid #e6e6e6
	&__link
		display: block
		line-height: 60px
		height: 61px
		font-size: 16px
		color: #000
		text-transform: uppercase
		width: 100%
		border-bottom: 1px solid #e6e6e6
		padding-left: 70px
		padding-right: 50px
		position: relative
		&::after
			content: ''
			width: 20px
			height: 20px
			display: block
			position: absolute
			top: 50%
			margin-top: -10px
			right: 16px
			background-image: url(../img/icons/catalog-arrow.png)
			background-repeat: no-repeat
			background-position: left center
		&:hover
			text-decoration: none
			color: inherit
	&__icon
		display: block
		position: absolute
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		background-repeat: no-repeat
		background-position: left center
	&__item.active
		background-color: #fafafa
		.p-harmonic__link
			color: #e03359
			&::after
				background-position: right center
		.p-harmonic__icon
			background-position: right center !important
	&__description
		padding: 20px 25px
		display: none
		color: #000
		font-size: 15px
		border-bottom: 1px solid #e6e6e6

.p-card
	&__title
		padding-left: 26px
		position: relative
		font-size: 26px
		color: #000
		font-family: "GilroyExtraBold"
		margin-bottom: 22px
		&::before
			content: ''
			width: 5px
			height: 40px
			background-color: #e03359
			position: absolute
			display: block
			left: 0
			top: 50%
			margin-top: -20px
	&__list
		padding-top: 16px
		border-top: 1px solid #e5e5e5
		display: block
		padding-bottom: 30px
	&__item
		font-size: 16px
		color: #000
		line-height: 24px
		display: block
		padding-left: 27px
		background-repeat: no-repeat
		background-position: left center
		span
			color: #e03359
	&__price
		padding-left: 32px
		position: relative
		font-size: 20px
		color: #000
		font-family: "GilroyExtraBold"
		padding-bottom: 16px
		border-bottom: 1px solid #e5e5e5
		span
			color: #e03359
		&::before
			content: ''
			width: 17px
			height: 16px
			display: block
			background-image: url(../img/icons/p-card-4.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: center center
			position: absolute
			left: 0
			top: 50%
			margin-top: -16px
	&__description
		font-size: 16px
		color: #000
		line-height: 22px
		display: block
		padding-top: 14px
	&__row
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 18px
		margin-bottom: 37px
	&__count
		border: 1px solid #e5e5e5
		@include clearfix
		display: inline-block
	&__plus
		width: 64px
		height: 61px
		display: block
		line-height: 61px
		text-align: center
		font-size: 20px
		float: left
		color: #000
		&:hover
			text-decoration: none
			color: #000
	&__number
		width: 70px
		border: none
		border-left: 1px solid #e5e5e5
		border-right: 1px solid #e5e5e5
		background-color: transparent
		height: 61px
		line-height: 61px
		float: left
		display: block
		text-align: center
		font-size: 16px
		color: #000
	&__minus
		width: 64px
		height: 61px
		display: block
		line-height: 64px
		text-align: center
		font-size: 20px
		color: #000
		float: left
		&:hover
			text-decoration: none
			color: #000
	&__select
		width: 260px
		position: relative
	&__numb
		display: block
		position: relative
		height: 63px
		line-height: 61px
		border: 1px solid #e5e5e5
		padding-left: 16px
		padding-right: 65px
		background-color: #fff
		cursor: pointer
		&::after
			content: ''
			width: 65px
			right: 0
			top: 0
			bottom: 0
			display: block
			position: absolute
			border-left: 1px solid #e5e5e5
		&::before
			content: ''
			display: block
			width: 64px
			right: 0
			top: 0
			bottom: 0
			text-align: center
			line-height: 100%
			position: absolute
			background-image: url(../img/icons/p-card-arrow.png)
			background-repeat: no-repeat
			background-position: center center
	&__numb.active
		&::before
			transform: rotate(180deg)
			-webkit-transform: rotate(180deg)
	&__unit
		position: absolute
		left: 0
		right: 0
		top: 100%
		z-index: 5
		background-color: #fff
		border-left: 1px solid #e5e5e5
		border-right: 1px solid #e5e5e5
		display: none
	&__subunit
		height: 60px
		border-bottom: 1px solid #e5e5e5
		display: block
	&__sublink
		display: block
		padding-left: 16px
		padding-right: 16px
		line-height: 59px
		color: #000
		font-size: 16px
		&:hover
			text-decoration: none
			color: #000
			background-color: #e5e5e5
	&__button
		display: inline-block
		height: 63px
		line-height: 56px
		text-align: center
		padding: 0 55px
		border: 2px solid #e03359
		background-color: #e03359
		color: #fff
		font-size: 17px
		font-family: "GilroyExtraBold", sans-serif
		-webkit-box-shadow: 3px 3px 0px 0px black
		-moz-box-shadow: 3px 3px 0px 0px black
		box-shadow: 3px 3px 0px 0px black
		&:hover
			text-decoration: none
			color: #e03359
			background-color: #fff

.p-tabs
	&__tabs
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		border: 1px solid #ecebeb
		width: 100%
	&__tab
		width: 100%
		display: block
		text-align: center
		border-left: 1px solid #ecebeb
		line-height: 60px
		text-transform: uppercase
		font-size: 16px
		color: #000
		background-color: #fafafa
		position: relative
		cursor: pointer
		&:first-child
			border-left: none
	&__tab.active
		background-color: #fff
		&::after
			content: ''
			left: 0
			right: 0
			position: absolute
			display: block
			bottom: -2px
			height: 3px
			background-color: #fff
	&__content
	&__s
		display: block
		border: 1px solid #ecebeb
		border-top: none
		font-size: 16px
		color: #000
		line-height: 22px
		&-1
			padding: 18px
		&-2
			padding: 0 18px
		&-3
			padding: 18px
	&__table
		border-bottom: 1px solid #ecebeb
		position: relative
		@include clearfix
		padding: 9px 0
		&:last-child
			border-bottom: none
	&__left
		width: 50%
		float: left
		text-align: left
		display: block
		position: relative
		span
			font-size: 16px
			color: #000
			line-height: 24px
	&__right
		width: 50%
		float: right
		text-align: right
		font-size: 16px
		color: #000
		line-height: 24px
		position: relative
		span
			font-size: 16px
			color: #000
			line-height: 24px