@import "bourbon/bourbon"
@import "sass/_blocks"

/*Компоненты*/

.h-nav
	font-size: 0
	&__item
		display: inline-block
		padding: 0 28px
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
	&__link
		display: block
		line-height: 47px
		color: #fff
		font-size: 17px
		&:hover
			color: #fff
			text-decoration: none
			opacity: 0.6

.h-logo
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: left
	align-items: center
	&__link
		display: block
		width: 100px
		height: auto
	&__img
		display: block
		width: 100%
	&__description
		padding-left: 32px
		display: block
		width: 326px
		color: #000
		font-size: 16px
		line-height: 22px

.h-application
	display: inline-block
	height: 63px
	line-height: 56px
	text-align: center
	padding: 0 55px
	border: 2px solid #e03359
	background-color: #e03359
	color: #fff
	font-size: 17px
	font-family: "GilroyExtraBold", sans-serif
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
	&:hover
		text-decoration: none
		color: #fff
		background-color: #fff
		color: #e03359

.h-callback
	display: inline-block
	&__phone
		display: block
		font-size: 26px
		color: #000
		padding-left: 34px
		position: relative
		padding-bottom: 5px
		&::before
			content: ''
			width: 19px
			height: 21px
			background-image: url(../img/icons/h-phone.png)
			background-repeat: no-repeat
			background-size: cover
			display: block
			position: absolute
			left: 0
			top: 50%
			margin-top: -10.5px
	&__button
		display: inline-block
		color: #e03359
		border-bottom: 1px solid #e03359
		font-size: 18px
		line-height: 100%
		&:hover
			text-decoration: none
			color: #e03359
			border: none

.h-catalog
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center
	&__item
		display: block
		text-align: center
		position: relative
		&::after
			content: ''
			display: block
			height: 28px
			width: 1px
			background-color: #e44c6d
			position: absolute
			left: -0.5px
			top: 50%
			margin-top: -14px
		&:first-child
			&::after
				display: none !important
	&__link
		padding: 0 10.78px
		line-height: 58px
		display: block
	&__wp
		display: inline-block
		padding-right: 26px
		position: relative
		font-size: 17px
		color: #fff
		&::after
			content: ''
			position: absolute
			right: 0
			top: 50%
			width: 10px
			height: 6px
			margin-top: -3px
			background-image: url(../img/icons/h-arrow.png)
			background-size: cover
			display: block
	.active
		.h-catalog__link
			background-color: #000
			position: relative
			&::before
				content: ''
				display: block
				width: 1px
				top: 0
				bottom: 0
				position: absolute
				background-color: #000
				left: 0
				z-index: 20
			&::after
				content: ''
				display: block
				width: 1px
				top: 0
				bottom: 0
				position: absolute
				background-color: #000
				right: 0
				z-index: 20
		&::before
			content: ''
			width: 0
			height: 0
			border-style: solid
			border-width: 6px 6px 0 6px
			border-color: #000000 transparent transparent transparent
			position: absolute
			bottom: -6px
			left: 50%
			margin-left: -6px
			z-index: 12
	&__submenu
		position: absolute
		left: 0
		top: 100%
		background-color: #ea4b6e
		width: 245px
		display: none
		z-index: 10
	&__subitem
		border-bottom: 1px solid #ec5f7e
		&:last-child
			border: none
	&__sublink
		color: #fff
		font-size: 16px
		line-height: 31px
		padding: 10px 10.78px
		display: block
		width: 100%
		text-align: left
		&:hover
			text-decoration: none
			color: #fff
			background-color: #d34766

.p-baner
	position: relative
	&__slider
	&__item
		height: 254px
		width: 100%
		background-size: cover
		background-position: center bottom
	&__popup
		padding: 36px 24px
		width: 50%
		position: absolute
		z-index: 8
		margin-bottom: 27px
		background-image: url(../img/baner-popup.jpg)
		background-repeat: repeat-y
		background-size: 100% auto
		position: absolute
		left: 33px
		top: 31px
		&::before
			content: ''
			height: 3px
			position: absolute
			bottom: 0
			left: 0
			right: 0
			background-color: #e03359
			display: block
		&::after
			content: ''
			display: block
			width: 0
			height: 0
			border-style: solid
			border-width: 27px 20px 0 0
			border-color: #000000 transparent transparent transparent
			display: block
			position: absolute
			left: 0
			bottom: -27px
	&__title
		color: #1d1d1b
		font-size: 24px
		text-transform: uppercase
	&__description
		font-size: 16px
		color: #000
		display: block
		padding-top: 20px
		padding-bottom: 12px
	&__button
		height: 56px
		line-height: 49px
		display: inline-block
		border: 2px solid #e03359
		font-size: 17px
		background-color: #e03359
		color: #fff
		text-align: center
		font-family: "GilroyExtraBold", sans-serif
		-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		box-shadow: 3px 3px 0px 0px rgba(0,0,0,1)
		padding: 0 40px
		&:hover
			background-color: #fff
			color: #e03359
			text-decoration: none

.p-title
	color: #000
	display: inline-block
	font-size: 26px
	padding-bottom: 20px

.p-advantages
	background-color: #fff
	padding: 26px 16px
	position: relative
	&-left
		text-align: right
		margin-right: 18px
		.p-advantages__title
			padding-right: 48px
		.p-advantages__icon
			background-position: right center
			right: 0
		&-top
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 0 0 12px
				border-color: transparent transparent transparent #000000
				position: absolute
				bottom: 0
				right: -12px
		&-center
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 0 9px 12px
				border-color: transparent transparent transparent #000000
				position: absolute
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				right: -12px
		&-bottom
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 12px 0 0
				border-color: #000000 transparent transparent transparent
				position: absolute
				top: 0
				right: -12px

	&-right
		text-align: left
		margin-left: 18px
		.p-advantages__title
			padding-left: 48px
		.p-advantages__icon
			background-position: left center
			left: 0
		&-top
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 0 0 9px 12px
				border-color: transparent transparent #000000 transparent
				position: absolute
				bottom: 0
				left: -12px
		&-center
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 9px 12px 9px 0
				border-color: transparent #000000 transparent transparent
				position: absolute
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				left: -12px
		&-bottom
			&::after
				content: ''
				display: block
				width: 0
				height: 0
				border-style: solid
				border-width: 0 12px 9px 0
				border-color: transparent #000000 transparent transparent
				position: absolute
				top: 0
				left: -12px

	&__title
		position: relative
		text-transform: uppercase
		font-size: 16px
	&__icon
		display: block
		position: absolute
		width: 48px
		height: 40px
		top: 50%
		margin-top: -20px
		background-repeat: no-repeat
	&__description
		font-size: 15px
		line-height: 22px
		color: #000
		height: 22*3 + px
		overflow: hidden
		display: block
		margin-top: 15px

.p-advantagesimg
	width: 100%
	display: block
	height: auto
	&__wp
		margin-left: -80px
		margin-right: -80px
		width: auto
		height: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		margin-top: 18px

.p-paperview
	height: 200px
	display: block
	width: 100%
	display: block
	background-size: cover
	background-position: center center
	position: relative
	&::after
		content: ''
		display: block
		left: 0
		right: 0
		top: 0
		position: absolute
		bottom: 0
		background-image: url(../img/p-pattern.png)
		background-repeat: repeat-x
		background-position: center bottom
		z-index: 1
	&__title
		position: absolute
		bottom: 18px
		left: 0
		right: 0
		z-index: 2
		font-size: 17px
		color: #fff
		font-family: "GilroyExtraBold", sans-serif
		text-align: center
		padding: 12px 10px 0
		&::before
			content: ''
			display: block
			height: 4px
			width: 29px
			background-color: #e03359
			top: 0
			left: 0
			right: 0
			position: absolute
			margin: 0 auto

.p-assortpackage
	&__title
		color: #fff
		font-size: 26px
		position: relative
		display: block
		text-align: center
		padding-top: 28px
		padding-bottom: 24px
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			margin: 0 auto
			left: 0
			right: 0
			top: 0
			position: absolute
	&__description
		font-size: 16px
		line-height: 24px
		color: #fff
		display: block

.p-prod
	border: 1px solid #e6e6e6
	display: block
	&:hover
		text-decoration: none
		color: inherit
	&__img
		height: 247px
		width: 100%
		display: block
		background-size: cover
		background-position: center center
	&__info
		margin-top: 19px
		position: relative
		padding-top: 18px
		padding-left: 17px
		padding-right: 17px
		padding-bottom: 22px
		&::before
			content: ''
			display: block
			left: 0
			right: 0
			position: absolute
			width: 38px
			height: 1px
			background-color: #e03359
			margin: 0 auto
			top: 0
		&::after
			content: ''
			display: block
			left: 0
			right: 0
			position: absolute
			width: 38px
			height: 1px
			background-color: #e03359
			margin: 0 auto
			top: 5px
	&__title
		display: block
		text-align: center
		font-size: 20px
		color: #000
		font-family: "GilroyExtraBold", sans-serif
	&__description
		display: block
		margin-top: 12px
		font-size: 15px
		color: #5f5f5f
		line-height: 24px
		height: 24 * 3 + px
		overflow: hidden

.p-prodmore
	display: inline-block
	height: 56px
	line-height: 49px
	text-align: center
	padding: 0 75px
	border: 2px solid #e03359
	background-color: #e03359
	color: #fff
	font-size: 17px
	font-family: "GilroyExtraBold", sans-serif
	-webkit-box-shadow: 3px 3px 0px 0px black
	-moz-box-shadow: 3px 3px 0px 0px black
	box-shadow: 3px 3px 0px 0px black
	&:hover
		background-color: #fff
		color: #e03359
		text-decoration: none
	&__promo
		font-size: 106px
		letter-spacing: 0.6px
		color: rgba(#0d0d0d,.06)
		text-transform: uppercase
		display: block
		width: 100%
		font-family: "GilroyExtraBold", sans-serif
		text-align: center
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: -1
		line-height: 100%

.p-reviews
	&__slider
		margin-top: 45px
	&__item
		display: inline-block
		-webkit-box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		-moz-box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		box-shadow: 7px 0px 35px 4px rgba(0,0,0,0.08)
		outline: none
	&__img
		display: block
	&__description
		display: block
		padding-top: 24px
		p
			color: #000
			font-size: 17px
			line-height: 24px

.f-girl
	display: inline-block

.f-callback
	&__title
		font-size: 30px
		color: #fff
		display: block
		text-align: center
		width: 100%
		padding-top: 20px
		position: relative
		padding-bottom: 10px
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			position: absolute
			top: 0
			left: 0
			right: 0
			margin: 0 auto
	&__description
		display: block
		width: 100%
		text-align: center
		color: #fff
		font-size: 20px
		padding-bottom: 28px
		span
			color: #e03359

	&__form
	&__row
		@include clearfix
	&__left
		width: 50%
		padding-right: 10px
		float: left
	&__right
		width: 50%
		padding-left: 10px
		float: right
	&__input
		display: block
		width: 100%
		height: 100%
		line-height: 54px
		border: none
		height: 54px
		padding-left: 48px
		padding-right: 15px
		background-color: #fff
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		font-size: 17px
		color: #000
		@include placeholder(#828282)
		&-wp
			margin-bottom: 20px
			position: relative
	&__icon
		position: absolute
		width: 48px
		left: 0
		top: 0
		bottom: 0
		background-repeat: no-repeat
		background-position: center 19px
	&__textarea
		display: block
		width: 100%
		padding-left: 48px
		padding-right: 15px
		background-color: #fff
		height: 135px
		padding-top: 18px
		padding-bottom: 18px
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		font-size: 17px
		color: #000
		resize: none
		@include placeholder(#828282)
	&__pol
		color: #fff
		font-size: 15px
		line-height: 24px
		width: 65%
		float: left
		padding-right: 30px
		padding-top: 6px
		a
			color: #e03359
			text-decoration: underline
			&:hover
				text-decoration: none
				color: #e03359
	&__button
		height: 56px
		line-height: 49px
		text-align: center
		padding: 0
		width: 100%
		border: 2px solid #e03359
		background-color: #e03359
		color: #fff
		font-size: 17px
		font-family: "GilroyExtraBold", sans-serif
		-webkit-box-shadow: 3px 3px 0px 0px #afafaf
		-moz-box-shadow: 3px 3px 0px 0px #afafaf
		box-shadow: 3px 3px 0px 0px #afafaf
		&:hover
			text-decoration: none
			color: #e03359
			background-color: #fff
		&-wp
			float: right
			width: 35%

.p-popup
	display: none
	padding: 30px
	background-image: url(../img/popup-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	.f-callback__button-wp
		width: 100%
		float: none
	&__title
		font-size: 30px
		color: #fff
		display: block
		text-align: center
		width: 100%
		padding-top: 20px
		position: relative
		padding-bottom: 10px
		text-transform: uppercase
		&::before
			content: ''
			display: block
			width: 45px
			height: 5px
			background-color: #e03359
			position: absolute
			top: 0
			left: 0
			right: 0
			margin: 0 auto
	&__row
		padding-top: 16px